.fitness {
    position: relative;
    .floating {
        position: fixed;
        bottom: 20px;
        right: 50px;
        color: white;
    }
    .meals {
        md-card-actions button {
            margin: .5em;
            width: 100%;
        }
    }
}