<ion-header>

  <ion-navbar>
    <ion-title>{{ (nutrient$ | async)?.name }}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="nutrientDetail">
      <ion-segment-button value="summary">
        Summary
      </ion-segment-button>
      <ion-segment-button value="functions">
        Functions
      </ion-segment-button>
      <ion-segment-button value="deficiencies">
        Deficiencies
      </ion-segment-button>
      <ion-segment-button value="warnings">
        Warnings
      </ion-segment-button>
      <ion-segment-button value="sources">
        Sources
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [ngSwitch]="nutrientDetail">
  <div *ngSwitchCase="'summary'">
    <h2>Description</h2>
    <p>{{ (nutrient$ | async)?.summary }}</p>
    <h2>Type</h2>
    <p>{{ (nutrient$ | async)?.type }}</p>
    <ul *ngSwitchCase="'recommendations'">
      <li>Infants (< 1 years): {{ (nutrient$ | async)?.recommendations['Infants (< 1 years)'] }}</li>
      <li>Children (< 14 years): {{ (nutrient$ | async)?.recommendations['Children (< 14 years)'] }}</li>
      <li>Men (> 14 years): {{ (nutrient$ | async)?.recommendations['Men (> 14 years)'] }}</li>
      <li>Women (> 14 years): {{ (nutrient$ | async)?.recommendations['Women (> 14 years)'] }}</li>
      <li>Pregnancy: {{ (nutrient$ | async)?.recommendations['Pregnancy'] }}</li>
      <li>Lactation: {{ (nutrient$ | async)?.recommendations['Lactation'] }}</li>
    </ul>
    <h2>References</h2>
    <ul>
      <li *ngFor="let item of (nutrient$ | async)?.references">
        <a [href]="item.url">{{ item.credit }}</a>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="'functions'">
    <h2>Health support</h2>
    <ul>
      <li *ngFor="let item of (nutrient$ | async)?.functions">
        {{ item }}
      </li>
    </ul>
    <h2>Mechanism</h2>
    <ul>
      <li *ngFor="let item of (nutrient$ | async)?.actions">
        {{ item }}
      </li>
    </ul>
    <h2>Partnership</h2>
    <ul>
      <li *ngFor="let item of (nutrient$ | async)?.partnership">
        {{ item }}
      </li>
    </ul>
    <h2>Uses</h2>
    <ul>
      <li *ngFor="let item of (nutrient$ | async)?.uses">
        {{ item }}
      </li>
    </ul>
  </div>
  <ul *ngSwitchCase="'deficiencies'">
    <li *ngFor="let item of (nutrient$ | async)?.deficiencies">
      {{ item }}
    </li>
  </ul>
  <ul *ngSwitchCase="'warnings'">
    <li *ngFor="let item of (nutrient$ | async)?.warnings">
      {{ item }}
    </li>
  </ul>
  <ul *ngSwitchCase="'sources'">
    <li *ngFor="let item of (nutrient$ | async)?.sources">
      {{ item }}
    </li>
  </ul>

</ion-content>