<div layout="column" layout-fill>
  <md-toolbar color="primary" class="md-whiteframe-z1">
    <span>Login</span>
  </md-toolbar>
  <div class="md-content" layout-gt-xs="row" layout-align-gt-xs="center start" layout-padding flex>
    <md-card flex-gt-xs="50" *ngIf="!registering">
      <md-card-title>Login</md-card-title>
      <md-card-subtitle>Sign in via your current application account</md-card-subtitle>
      <md-divider></md-divider>
      <md-card-content layout-padding>
        <form #loginForm="ngForm">

          <div layout="row">
            <md-input #emailInput #emailControl="ngModel" flex placeholder="Email" type="text" maxlength="30" name="user.email" [(ngModel)]="user.email" required>
              <span md-prefix><md-icon>contact_mail</md-icon></span>
              <md-hint align="start" [hidden]="emailControl.pristine" class="tc-red-600">
                <span [hidden]="!emailControl.errors?.required">Required</span>
              </md-hint>
              <md-hint align="end">{{emailInput.characterCount}} / 30</md-hint>
            </md-input>
          </div>
          <div layout="row">
            <md-input #passControl="ngModel" flex placeholder="Password" type="password" name="user.password" [(ngModel)]="user.password" required>
              <span md-prefix><md-icon>lock</md-icon></span>
              <md-hint align="start" [hidden]="passControl.pristine" class="tc-red-600">
                <span [hidden]="!passControl.errors?.required">Required</span>
              </md-hint>
              <md-hint align="end">Something hard to guess</md-hint>
            </md-input>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="column" layout-align="center center">
        <button md-raised-button flex color="accent" [disabled]="!loginForm.form.valid" (click)="passLogin(loginForm.value)">
          Sign In
        </button>
        <button md-raised-button flex color="accent" (click)="register()">
          Register
        </button>

        <!-- Bug on nativ apps with redirecting and popup 
        <button md-raised-button flex class="bgc-blue-700 social" (click)="fbLogin()">
          <span class="fa fa-facebook" aria-hidden="true"></span>
          Log in via Facebook
        </button>
        <button md-raised-button flex class="bgc-red-700 social" (click)="googleLogin()">
          <span class="fa fa-google" aria-hidden="true"></span>
          Log in via Google
        </button>
        <button md-raised-button flex class="bgc-light-blue-400 social" (click)="twitterLogin()">
          <span class="fa fa-twitter" aria-hidden="true"></span>
          Log in via Twitter
        </button>
        <button md-raised-button flex class="bgc-teal-900 social" (click)="githubLogin()">
          <span class="fa fa-github" aria-hidden="true"></span>
          Log in via Github
        </button>
        -->
      </md-card-actions>
    </md-card>

    <md-card flex-gt-xs="50" *ngIf="registering">
      <md-card-title>Create account</md-card-title>
      <md-card-subtitle>Create a new account for the application</md-card-subtitle>
      <md-divider></md-divider>
      <md-card-content>
        <form #signupForm="ngForm">
          <p>Avatar</p>
          <td-file-upload defaultColor="accent" activeColor="primary" cancelColor="warn" (upload)="uploadImage($event)" accept=".jpg,.jpeg,.png" [disabled]="false">
          </td-file-upload>
          <div layout="row">
            <md-input #usernameInput #usernameControl="ngModel" flex placeholder="Username" type="text" maxlength="30" name="user.name" [(ngModel)]="user.name" required>
              <span md-prefix><md-icon>person</md-icon></span>
              <md-hint align="start" [hidden]="usernameControl.pristine" class="tc-red-600">
                <span [hidden]="!usernameControl.errors?.required">Required</span>
              </md-hint>
              <md-hint align="end">{{usernameInput.characterCount}} / 30</md-hint>
            </md-input>
          </div>
          <div layout="row">
            <md-input #emailInput #emailControl="ngModel" flex placeholder="Email" type="text" maxlength="30" name="user.email" [(ngModel)]="user.email" required>
              <span md-prefix><md-icon>person</md-icon></span>
              <md-hint align="start" [hidden]="emailControl.pristine" class="tc-red-600">
                <span [hidden]="!emailControl.errors?.required">Required</span>
              </md-hint>
              <md-hint align="end">{{emailInput.characterCount}} / 30</md-hint>
            </md-input>
          </div>
          <div layout="row">
            <md-input #passControl="ngModel" flex placeholder="Password" type="password" name="user.password" [(ngModel)]="user.password" required>
              <span md-prefix><md-icon>lock</md-icon></span>
              <md-hint align="start" [hidden]="passControl.pristine" class="tc-red-600">
                <span [hidden]="!passControl.errors?.required">Required</span>
              </md-hint>
              <md-hint align="end">Something hard to guess</md-hint>
            </md-input>
          </div>
          <div layout="row">
            <md-input flex="33" #ageControl="ngModel" placeholder="Age ({{ infancy ? 'months' : 'years' }})" type="number" name="user.age" min="1" max="150" [(ngModel)]="user.age" required>
              <span md-prefix><md-icon>date_range</md-icon></span>
              <md-hint align="start" [hidden]="ageControl.pristine" class="tc-red-600">
                <span [hidden]="!ageControl.errors?.required">Required</span>
              </md-hint>
            </md-input>

            <md-input class="push-left-md push-right-md" flex="33" #heightControl="ngModel" placeholder="Height (cm)" type="number" name="user.height" min="1" max="150" [(ngModel)]="user.height" required>
              <span md-prefix><md-icon>date_range</md-icon></span>
              <md-hint align="start" [hidden]="heightControl.pristine" class="tc-red-600">
                <span [hidden]="!heightControl.errors?.required">Required</span>
              </md-hint>
            </md-input>

            <md-input flex="33" #weightControl="ngModel" placeholder="Weight (kg)" type="number" name="user.weight" min="1" max="150" [(ngModel)]="user.weight" required>
              <span md-prefix><md-icon>date_range</md-icon></span>
              <md-hint align="start" [hidden]="weightControl.pristine" class="tc-red-600">
                <span [hidden]="!weightControl.errors?.required">Required</span>
              </md-hint>
            </md-input>
          </div>
        </form>
        <div layout="row" flex layout-align="start center" layout-padding>
            <md-slide-toggle class="pad-xs" [(ngModel)]="user.male" name="user.male" (change)="user.female = !user.male">
              <div layout="row" layout-align="center center">
                <i class="fa fa-2x fa-mars" aria-hidden="true"></i>
                <span class="pad-left-xs text-xl">Male</span>
              </div>
            </md-slide-toggle>
            <md-slide-toggle class="pad-xs" [(ngModel)]="user.female" name="user.female" (change)="user.male = !user.female">
              <div layout="row" layout-align="center center">
                <i class="fa fa-2x fa-venus" aria-hidden="true"></i>
                <span class="pad-left-xs text-xl">Female</span>
              </div>
            </md-slide-toggle>
            <md-slide-toggle class="pad-xs" [(ngModel)]="user.infancy" name="user.infancy">
              <div layout="row" layout-align="center center">
                <md-icon>child_care</md-icon>
                <span class="pad-left-xs text-xl">Infancy</span>
              </div>
            </md-slide-toggle>
            <md-slide-toggle class="pad-xs" *ngIf="user.female" [(ngModel)]="user.pregnancy" name="user.pregnancy" (change)="user.lactation = !user.pregnancy">
              <div layout="row" layout-align="center center">
                <md-icon>pregnant_woman</md-icon>
                <span class="pad-left-xs text-xl">Pregnancy</span>
              </div>
            </md-slide-toggle>
            <md-slide-toggle class="pad-xs" *ngIf="user.female" [(ngModel)]="user.lactation" name="user.lactation" (change)="user.pregnancy = !user.lactation">
              <div layout="row" layout-align="center center">
                <md-icon>child_friendly</md-icon>
                <span class="pad-left-xs text-xl">Lactation</span>
              </div>
            </md-slide-toggle>
          </div>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="column" layout-align="center center">
        <button md-raised-button flex color="accent" (click)="signIn()">
          Sign In
        </button>
        <button md-raised-button flex color="accent" [disabled]="!signupForm.form.valid" (click)="signUp()">
          Sign up
        </button>
      </md-card-actions>
    </md-card>
  </div>
</div>