<StackLayout class="modal-container">
    <GridLayout rows="auto" columns="50, *, 50" class="action-bar p-10">
        <Button col="0" text="Cancel" (tap)="cancel()" class="action-item"></Button>
        <Label col="1" text="" textWrap="true" class="action-bar-title text-center"></Label>
        <Button col="2" text="Done" (tap)="done()" class="action-item"></Button>
    </GridLayout>
    <TabView androidSelectedTabHighlightColor="#00c853" selectedTabTextColor="#00c853" tabTextColor="rgba(255,255,255,.5)" tabBackgroundColor="#151F2F">
        <StackLayout *tabItem="{title: 'Selections'}">
            <ListView [items]="selections" class="list-group" (itemTap)="removeSelection($event)" separatorColor="cyan">
                <template let-selection="item">
                    <GridLayout class="list-group-item" rows="*" columns="30, *">
                        <Label row="0" col="0" class="fa" text="&#xf014;" color="red"></Label>
                        <Label row="0" col="1" [text]="selection.name"></Label>
                    </GridLayout>
                </template>
            </ListView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'All meals'}">
            <SearchBar *ngIf="!isLoading" #searchTerm hint="Search meals" (clear)="clearSearch()" [text]="searchInput" (submit)="searchMeals(searchTerm.text)"></SearchBar>
            <GridLayout rows="*">
                <ActivityIndicator row="1" class="activity-indicator" width="75" height="75" [visibility]="isLoading ? 'visible' : 'collapse'" [busy]="isLoading"></ActivityIndicator>
                <RadListView row="1" class="list-group" [items]="filteredMeals" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMoreMeals($event)" pullToRefresh="true" (pullToRefreshInitiated)="refreshMeals($event)" selectionBehavior="Press" (itemSelected)="toggleSelection($event)">
                    <template tkListItemTemplate let-meal="item">
                        <GridLayout class="list-group-item" rows="*" columns="30, *" borderBottomWidth="1" borderBottomColor="Cyan" verticalAlignment="center">
                            <Label row="0" col="0" class="fa" text="{{ meal.isSelected ? '&#xf046;' : '&#xf096;' }}"></Label>
                            <Label row="0" col="1" class="list-group-item-heading" textWrap="true" [text]="meal.name"></Label>
                        </GridLayout>
                    </template>
                </RadListView>
            </GridLayout>
        </StackLayout>
    </TabView>
</StackLayout>