<StackLayout>
    <ActionBar class="action-bar" title="Search meals">
        <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="cancel()"></NavigationButton>
        <ActionItem (tap)="done()" ios.position="right">
            <Button text="Done" class="action-item"></Button>
        </ActionItem>
    </ActionBar>
    <TabView>
        <StackLayout *tabItem="{title: 'Selections'}">
        </StackLayout>
        <StackLayout *tabItem="{title: 'All meals'}">
            <SearchBar *ngIf="!isLoading" #searchTerm hint="Search meals" (clear)="clearSearch()" [text]="searchInput" (submit)="searchMeals(searchTerm.text)"></SearchBar>
            <GridLayout rows="*">
                <ActivityIndicator row="1" class="activity-indicator" width="75" height="75" [visibility]="isLoading ? 'visible' : 'collapse'"
                    [busy]="isLoading"></ActivityIndicator>
                <RadListView row="1" class="list-group" [items]="filteredMeals" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMoreMeals($event)"
                    pullToRefresh="true" (pullToRefreshInitiated)="refreshMeals($event)" selectionBehavior="Press" (itemSelected)="toggleSelection($event)">
                    <template tkListItemTemplate let-meal="item">
                        <GridLayout class="list-group-item" rows="*" columns="auto, *" borderBottomWidth="1" borderBottomColor="Cyan">
                            <Label row="0" col="0" class="fa" text="{{ meal.isSelected ? '&#xf046;' : '&#xf096;' }}"></Label>
                            <Label row="0" col="1" class="list-group-item-heading" textWrap="true" [text]="meal.name"></Label>
                        </GridLayout>
                    </template>
                </RadListView>
            </GridLayout>
        </StackLayout>
    </TabView>
</StackLayout>