@import 'styles/variables';
.sidedrawer-header {
    text-align: center;
    padding: 10em;
    height: 33%;
    .sidedrawer-header-avatar {
        width: 75%;
        height: 75%;
    }
}

.sidedrawer-list-item {
    &.active {
        background-color: rgba($primary, 0.2);
        color: gray;
        .fa {
            color: gray;
        }
    }
}