<ActionBar class="action-bar" title="The Health Guide">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)=toggleDrawer()></NavigationButton>
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent class="sidedrawer-left">
        <StackLayout class="sidedrawer-header">
            <Image class="sidedrawer-header-avatar" [src]="auth.avatar"></Image>
            <Label [text]="auth.name" textWrap="true" class="text-center"></Label>
        </StackLayout>
        <StackLayout class="sidedrawer-content">
            <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *" [nsRouterLink]="['/home']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}" pageTransition="slideLeft">
                <Label text="&#xf015;" class="fa sidedrawer-list-item-icon text-muted" row="0" col="0"></Label>
                <Label class="sidedrawer-list-item-text" row="0" col="1" text="Home"></Label>
            </GridLayout>
            <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
                <Label text="&#xf07a;" class="fa sidedrawer-list-item-icon text-muted" row="0" col="0"></Label>
                <Label class="sidedrawer-list-item-text" row="0" col="1" text="Food"></Label>
            </GridLayout>
            <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
                <Label text="&#xf06c;" class="fa sidedrawer-list-item-icon text-muted" row="0" col="0"></Label>
                <Label class="sidedrawer-list-item-text" row="0" col="1" text="Nutrients"></Label>
            </GridLayout>
            <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
                <Label text="&#xf1fd;" class="fa sidedrawer-list-item-icon text-muted" row="0" col="0"></Label>
                <Label class="sidedrawer-list-item-text" row="0" col="1" text="Recipes"></Label>
            </GridLayout>
            <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
                <Label text="&#xf073;" class="fa sidedrawer-list-item-icon text-muted" row="0" col="0"></Label>
                <Label class="sidedrawer-list-item-text" row="0" col="1" text="Tracker"></Label>
            </GridLayout>
            <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
                <Label text="&#xf2bd;" class="fa sidedrawer-list-item-icon text-muted" row="0" col="0"></Label>
                <Label class="sidedrawer-list-item-text" row="0" col="1" text="Account"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <Button text="&#f127; Test" class="material-icons"></Button>
        <Label text="Welcome to the Health Guide" textWrap="true"></Label>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>