<ActionBar class="action-bar" title="Home">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)="drawerSvc.toggle()"></NavigationButton>
</ActionBar>

<StackLayout height="100%" verticalAlignment="center">
    <Label fontSize="50" class="mdi text-center" [text]="'mdi-favorite' | fonticon"></Label>
    <Label text="Welcome my dear child!" class="h1 text-center" textWrap="true"></Label>
    <Label text="Let's be forever young, shall we?'" class="h3 text-center" textWrap="true"></Label>
</StackLayout>