<md-toolbar layout-align="center">
  <td-search-box backIcon="clear" placeholder="Search" [showUnderline]="true" [debounce]="500" [alwaysVisible]="false" (search)="filterNutrients($event)" (searchDebounce)="filterNutrients($event)" (clear)="searchInputTerm = ''" flex>
  </td-search-box>

  <button md-icon-button [md-menu-trigger-for]="menu">
  <md-icon>more_vert</md-icon>
</button>
  <md-menu #menu="mdMenu" class="before">
    <button md-menu-item (click)="query='functions'">Functions</button>
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
    <button md-menu-item disabled> Sign Out </button>
  </md-menu>
</md-toolbar>
<div layout="column" layout-gt-sm="row">
  <div flex>
    <md-card>
      <md-card-title>Macronutrients</md-card-title>
      <md-nav-list>
        <template tdLoading="macronutrients.load">
          <template let-item let-last="last" ngFor [ngForOf]="filteredMacronutrients">
            <a md-list-item layout-align="row" [routerLink]="['macronutrients', item.$key]">
              <md-icon md-list-avatar>spa</md-icon>
              <h3 md-line> {{ item.name }} </h3>
              <p md-line> {{ item.category }} </p>
            </a>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </template>
      </md-nav-list>
    </md-card>
  </div>
  <div flex>
    <md-card>
      <md-card-title>Micronutrients</md-card-title>
      <md-nav-list>
        <template tdLoading="micronutrients.load">
          <template let-item let-last="last" ngFor [ngForOf]="filteredMicronutrients">
            <a md-list-item layout-align="row" [routerLink]="['micronutrients', item.$key]">
              <md-icon md-list-avatar>spa</md-icon>
              <h3 md-line> {{ item.name }} </h3>
              <p md-line> {{ item.category }} </p>
            </a>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </template>
      </md-nav-list>
    </md-card>
  </div>
</div>