<md-card flex *tdLoading="'profile.load'" loadingType="circular">
  <md-card-title>Create account</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="column" layout-gt-md="row" layout-align="center center" flex>
      <div layout="row" layout-align="center center" flex layout-padding>
        <span class="md-title push-right-xs">BMI:</span>
        <md-icon>{{ profile.bmi.normal ? 'thumb_up' : 'thumb_down' }}</md-icon>
        <span class="md-title push-left-xs">{{ profile.bmi.data }}</span>
      </div>
      <div layout="row" layout-align="center center" flex>
        <span class="md-title push-right-xs">Fat percentage:</span>
        <md-icon>{{ profile.fatPercentage.normal ? 'thumb_up' : 'thumb_down' }}</md-icon>
        <span class="md-title push-left-xs"> {{ profile.fatPercentage.data }}</span>
      </div>
      <div layout="row" layout-align="center center" flex>
        <span class="md-title push-right-xs">BMR:</span>
        <md-icon>flash_on</md-icon>
        <span class="md-title push-left-xs">{{ profile.bmr }}</span>
      </div>
    </div>
    <md-divider></md-divider>
    <form #signupForm="ngForm" layout="column">
      <div layout="column" layout-gt-md="row">
        <md-input (change)="setFitness()" flex class="push-xs" #ageControl="ngModel" placeholder="Age ({{ infancy ? 'months' : 'years' }})" type="number" name="profile.age" min="1" max="150" [(ngModel)]="profile.age"
          required>
          <span md-prefix><md-icon>date_range</md-icon></span>
          <md-hint align="start" [hidden]="ageControl.pristine" class="tc-red-600">
            <span [hidden]="!ageControl.errors?.required">Required</span>
          </md-hint>
        </md-input>
        <md-input (change)="setFitness()" flex class="push-xs" #heightControl="ngModel" placeholder="Height (cm)" type="number" name="profile.height" min="1" max="250" [(ngModel)]="profile.height" required>
          <span md-prefix><md-icon>date_range</md-icon></span>
          <md-hint align="start" [hidden]="heightControl.pristine" class="tc-red-600">
            <span [hidden]="!heightControl.errors?.required">Required</span>
          </md-hint>
        </md-input>
        <md-input (change)="setFitness()" flex class="push-xs" #weightControl="ngModel" placeholder="Weight (kg)" type="number" name="profile.weight" min="1" max="350" [(ngModel)]="profile.weight" required>
          <span md-prefix><md-icon>date_range</md-icon></span>
          <md-hint align="start" [hidden]="weightControl.pristine" class="tc-red-600">
            <span [hidden]="!weightControl.errors?.required">Required</span>
          </md-hint>
        </md-input>
      </div>
      <div layout="column" layout-gt-md="row">
        <md-input (change)="setFitness()" flex class="push-xs" #neckControl="ngModel" placeholder="Neck (cm)" type="number" name="profile.neck" min="1" max="350" [(ngModel)]="profile.neck" required>
          <span md-prefix><md-icon>date_range</md-icon></span>
          <md-hint align="start" [hidden]="neckControl.pristine" class="tc-red-600">
            <span [hidden]="!neckControl.errors?.required">Required</span>
          </md-hint>
        </md-input>
        <md-input (change)="setFitness()" flex class="push-xs" #waistControl="ngModel" placeholder="Waist (cm)" type="number" name="profile.waist" min="1" max="350" [(ngModel)]="profile.waist" required>
          <span md-prefix><md-icon>date_range</md-icon></span>
          <md-hint align="start" [hidden]="waistControl.pristine" class="tc-red-600">
            <span [hidden]="!waistControl.errors?.required">Required</span>
          </md-hint>
        </md-input>
        <md-input *ngIf="profile.gender === 'female'" (change)="setFitness()" flex class="push-xs" #hipsControl="ngModel" placeholder="Hips (cm)" type="number" name="profile.hips" min="1" max="350" [(ngModel)]="profile.hips" required>
          <span md-prefix><md-icon>date_range</md-icon></span>
          <md-hint align="start" [hidden]="hipsControl.pristine" class="tc-red-600">
            <span [hidden]="!hipsControl.errors?.required">Required</span>
          </md-hint>
        </md-input>
      </div>
      <div class="pull-bottom-xl" layout="column" layout-gt-lg="row" layout-align="center center" flex>
        <div layout="row" layout-align="start center" flex>
          <i class="fa fa-2x fa-transgender-alt push-left-xs" aria-hidden="true"></i>
          <span layout="row" layout-align="start center" class="text-lg tc-grey-500 pad-xs push-right-xs">
              Gender:
            </span>
          <md-radio-group name="profile.gender" (change)="setFitness()" [(ngModel)]="profile.gender" required>
            <md-radio-button class="text-lg" value="female">Female</md-radio-button>
            <md-radio-button class="text-lg" value="male">Male</md-radio-button>
          </md-radio-group>
        </div>
        <div layout="column" layout-gt-xs="row" flex layout-align="start center">
          <md-slide-toggle class="pad-xs" [(ngModel)]="profile.infancy" name="profile.infancy">
            <div layout="row" layout-align="center center">
              <md-icon>child_care</md-icon>
              Infancy
            </div>
          </md-slide-toggle>
          <md-slide-toggle class="pad-xs" *ngIf="profile.gender === 'female'" [(ngModel)]="profile.pregnancy" name="profile.pregnancy" (change)="profile.lactation = !profile.pregnancy">
            <div layout="row" layout-align="center center">
              <md-icon>pregnant_woman</md-icon>
              <span class="pad-left-xs text-xl">Pregnancy</span>
            </div>
          </md-slide-toggle>
          <md-slide-toggle class="pad-xs" *ngIf="profile.gender === 'female'" [(ngModel)]="profile.lactation" name="profile.lactation" (change)="profile.pregnancy = !profile.lactation">
            <div layout="row" layout-align="center center">
              <md-icon>child_friendly</md-icon>
              <span class="pad-left-xs text-xl">Lactation</span>
            </div>
          </md-slide-toggle>
        </div>
      </div>
    </form>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="column" layout-align="center center" flex>
    <button md-raised-button flex color="accent" (click)="saveProfile()">
      Update fitness profile
    </button>
  </md-card-actions>
</md-card>