<md-toolbar layout-align="center">
  <td-search-box *ngIf="query !== 'ingredients'" flex
    backIcon="clear"
    placeholder="Search"
    [showUnderline]="true"
    [debounce]="500"
    [alwaysVisible]="false"
    (search)="filterRecipes($event)"
    (searchDebounce)="filterRecipes($event)"
    (clear)="searchInputTerm = ''">
  </td-search-box>
  <td-chips *ngIf="query === 'ingredients'" flex
    placeholder="Type an ingredient"
    [items]="ingredients"
    [readOnly]="false"
    (add)="addIngredient($event)"
    (remove)="removeIngredient($event)"
    requireMatch>
  </td-chips>
  <button md-icon-button [md-menu-trigger-for]="menu">
  <md-icon>filter_list</md-icon>
</button>
  <md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item (click)="query='name'">Name</button>
    <button md-menu-item (click)="query='chef.name'">Chef</button>
    <button md-menu-item (click)="query='ingredients'">Ingredients</button>
  </md-menu>
</md-toolbar>
<div layout="column" layout-gt-lg="row" *tdLoading="'recipes.load'" loadingType="circular" class="recipe-list">
  <div class="recipe" layout="column" flex>
    <md-card layout-padding *ngFor="let recipe of filteredRecipes | group : 3 : 1">
      <md-card-header>
        <img md-card-avatar [src]="recipe.chef.avatar">
        <md-card-title>{{ recipe.chef.name }}</md-card-title>
        <md-card-subtitle>Header subtitle</md-card-subtitle>
      </md-card-header>
      <img layout-padding layout="column" layout-align="center center" md-card-image class="recipe-img" [src]="recipe.image">
      <md-card-content layout-padding>
        <h3 class="md-headline">{{ recipe.name }}</h3>
        <p class="md-body-1">{{ recipe.description }}</p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="center center">
        <button flex md-button color="accent" (click)="openDetails(recipe)">
          <md-icon>open_in_new</md-icon>
          View more
        </button>
        <button flex md-button color="accent" (click)="editRecipe(recipe)">
          <md-icon>open_in_new</md-icon>
          Edit
        </button>
        <button flex md-button color="warn" (click)="deleteRecipe(recipe)">
          <md-icon>delete</md-icon>
          Remove
        </button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="recipe" layout="column" flex>
    <md-card layout-padding *ngFor="let recipe of filteredRecipes | group : 3 : 2">
      <md-card-header>
        <img md-card-avatar [src]="recipe.chef.avatar">
        <md-card-title>{{ recipe.chef.name }}</md-card-title>
        <md-card-subtitle>Header subtitle</md-card-subtitle>
      </md-card-header>
      <img layout-padding layout="column" layout-align="center center" md-card-image class="recipe-img" [src]="recipe.image">
      <md-card-content layout-padding>
        <h3 class="md-headline">{{ recipe.name }}</h3>
        <p class="md-body-1">{{ recipe.description }}</p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="center center">
        <button flex md-button color="accent" (click)="openDetails(recipe)">
          <md-icon>open_in_new</md-icon>
          View more
        </button>
        <button flex md-button color="accent" (click)="editRecipe(recipe)">
          <md-icon>open_in_new</md-icon>
          Edit
        </button>
        <button flex md-button color="warn" (click)="deleteRecipe(recipe)">
          <md-icon>delete</md-icon>
          Remove
        </button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="recipe" layout="column" flex>
    <md-card layout-padding *ngFor="let recipe of filteredRecipes | group : 3 : 3">
      <md-card-header>
        <img md-card-avatar [src]="recipe.chef.avatar">
        <md-card-title>{{ recipe.chef.name }}</md-card-title>
        <md-card-subtitle>Header subtitle</md-card-subtitle>
      </md-card-header>
      <img layout-padding layout="column" layout-align="center center" md-card-image class="recipe-img" [src]="recipe.image">
      <md-card-content layout-padding>
        <h3 class="md-headline">{{ recipe.name }}</h3>
        <p class="md-body-1">{{ recipe.description }}</p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="center center">
        <button flex md-button color="accent" (click)="openDetails(recipe)">
          <md-icon>open_in_new</md-icon>
          View more
        </button>
        <button flex md-button color="accent" (click)="editRecipe(recipe)">
          <md-icon>open_in_new</md-icon>
          Edit
        </button>
        <button flex md-button color="warn" (click)="deleteRecipe(recipe)">
          <md-icon>delete</md-icon>
          Remove
        </button>
      </md-card-actions>
    </md-card>
  </div>
  <button md-fab class="floating md-whiteframe-z1" (click)="createRecipe()">
    <md-icon>add</md-icon>
  </button>
</div>