.recipe-list {
    position: relative;
    .floating {
        position: fixed;
        bottom: 20px;
        right: 50px;
        color: white;
    }
}

.recipe {
    @media all and (min-width: 1280px) {
        width: 30%;
    }
    width: 100%;
}

.recipe-img {
    height: 20%;
}