<StackLayout class="modal-container">
    <GridLayout rows="auto" columns="auto, *" class="action-bar p-t-10 p-b-10">
        <Button col="0" [text]="'mdi-arrow-back' | fonticon" (tap)="goBack()" class="mdi action-item" verticalAlignment="center"></Button>
        <Label col="1" [text]="nutrient.name" textWrap="true" class="action-bar-title" verticalAlignment="center"></Label>
    </GridLayout>

    <!--
<TabView androidSelectedTabHighlightColor="#00c853" selectedTabTextColor="#00c853" tabTextColor="rgba(255,255,255,.5)" tabBackgroundColor="#151F2F">
  -->
    <TabView>
        <StackLayout *tabItem="{title: 'Summary'}" class="p-20">
            <HtmlView [html]="nutrient.description"></HtmlView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Classifications'}" class="p-20">
            <HtmlView [html]="nutrientClassification"></HtmlView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Functions'}" class="p-20">
            <HtmlView [html]="nutrientFunctions"></HtmlView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Disease preventions'}" class="p-20">
            <HtmlView [html]="nutrientDiseases"></HtmlView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Relationship with nutrients'}" class="p-20">
            <HtmlView [html]="nutrient.nutrientRelationship"></HtmlView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Deficiency'}" class="p-20">
            <HtmlView [html]="nutrient.deficiency"></HtmlView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Toxicity'}" class="p-20">
            <HtmlView [html]="nutrient.toxicity"></HtmlView>
        </StackLayout>
    </TabView>
</StackLayout>