<ActionBar class="action-bar" title="Nutrients">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)="drawerSvc.toggle()"></NavigationButton>
    <ActionItem (tap)="toggleSearching()">
        <Button [text]="'mdi-search' | fonticon" class="mdi action-item"></Button>
    </ActionItem>
    <ActionItem (tap)="changeQuery()">
        <Button [text]="'mdi-filter-list' | fonticon" class="mdi action-item"></Button>
    </ActionItem>
</ActionBar>
<!--
<TabView androidSelectedTabHighlightColor="#00c853" selectedTabTextColor="#00c853" tabTextColor="rgba(255,255,255,.5)" tabBackgroundColor="#151F2F">
  -->
<TabView>
    <StackLayout *tabItem="{title: 'Macronutrients'}">
        <SearchBar *ngIf="!isLoadingMacros && isSearching" #searchTerm hint="Search nutrient" (clear)="clearSearchMacros()" [text]="searchInputMacros" (submit)="searchMacros(searchTerm.text)"></SearchBar>
        <GridLayout rows="*">
            <ActivityIndicator row="0" class="activity-indicator" width="75" height="75" [visibility]="isLoadingMacros ? 'visible' : 'collapse'" [busy]="isLoadingMacros"></ActivityIndicator>
            <RadListView *ngIf="!isLoadingMacros" row="0" class="list-group" [items]="filteredMacronutrients" pullToRefresh="true" (pullToRefreshInitiated)="refreshMacros($event, true)" selectionBehavior="Press" (itemSelected)="openDetails($event, 'macronutrients')">
                <template tkListItemTemplate let-nutrient="item">
                    <StackLayout class="list-group-item" borderBottomWidth="1" borderBottomColor="Cyan">
                        <Label class="list-group-item-heading" textWrap="true" [text]="nutrient.name"></Label>
                        <Label class="list-group-item-text" textWrap="true" [text]="nutrient.category"></Label>
                    </StackLayout>
                </template>
            </RadListView>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Micronutrients'}">
        <SearchBar *ngIf="!isLoadingMicros && isSearching" #searchTerm hint="Search nutrient" (clear)="clearSearchMicros()" [text]="searchInputMicros" (submit)="searchMicros(searchTerm.text)"></SearchBar>
        <GridLayout rows="*">
            <ActivityIndicator row="0" class="activity-indicator" width="75" height="75" [visibility]="isLoadingMicros ? 'visible' : 'collapse'" [busy]="isLoadingMicros"></ActivityIndicator>
            <RadListView *ngIf="!isLoadingMicros" row="0" class="list-group" [items]="filteredMicronutrients" pullToRefresh="true" (pullToRefreshInitiated)="refreshMicros($event, true)" selectionBehavior="Press" (itemSelected)="openDetails($event, 'micronutrients')">
                <template tkListItemTemplate let-nutrient="item">
                    <StackLayout class="list-group-item" borderBottomWidth="1" borderBottomColor="Cyan">
                        <Label class="list-group-item-heading" textWrap="true" [text]="nutrient.name"></Label>
                        <Label class="list-group-item-text" textWrap="true" [text]="nutrient.category"></Label>
                    </StackLayout>
                </template>
            </RadListView>
        </GridLayout>
    </StackLayout>
</TabView>