@import 'app-common';

.fa {
    font-family: 'FontAwesome';
    font-size: 15px;
}

TextField {
    border-width: 1px;
    border-color: $light-blue;
    padding: 10em;
    font-size: 15px;
}

.input-field {
    margin-bottom: 5em;
    margin-left: 20em;
    margin-right: 20em;
}

.btn {
    font-size: 15px;
    padding: 1em;
}