// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import 'nativescript-theme-core/scss/blue';
// Customize any of the theme’s variables here, for instance $btn-color: red;
// Import the theme’s main ruleset.
@import 'nativescript-theme-core/scss/index';
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
$ocean: #5677FC !default;
//$ocean: #899BFE !default;
//$ocean: #30BCFF !default;
$primary: $ocean !default;
$secondary: $grey-dark !default;
$light-green: #00c853 !default;
$accent: $light-green !default;
$light-blue: rgba($ocean, 0.2) !default;
$dark-indigo: #151F2F;
.action-bar {
    background-color: $dark-indigo;
}

.btn-primary {
    background-color: $light-green;
}

.btn-outline {
    border-color: $light-green;
    color: $light-green;
}

.fa {
    font-family: 'FontAwesome';
}

.hr-light {
    background-color: $light-blue;
}

.icon {
    font-family: 'icomoon';
}

.mdi {
    font-family: 'Material Icons', 'MaterialIcons-Regular';
}

.text-10 {
    font-size: 10px;
}

.text-16 {
    font-size: 16px;
}