// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import 'nativescript-theme-core/scss/blue';
// Customize any of the theme’s variables here, for instance $btn-color: red;
// Import the theme’s main ruleset.
@import 'nativescript-theme-core/scss/index';
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
$ocean: #1976d2 !default;
$primary: $ocean !default;
$light-green: #00c853 !default;
$accent: $light-green !default;
$light-blue: rgba($ocean, 0.2) !default;
$dark-indigo: #151F2F;

/*
 * Dark theme
.action-bar {
    background-color: $dark-indigo;
}
*/

.action-bar {
    background-color: $ocean;
}

.btn-primary {
    background-color: $light-green;
}

.btn-outline {
    border-color: $light-green;
    color: $light-green;
}

.fa {
    font-family: 'FontAwesome';
}

.fab-button {
    height: 70;
    margin: 15;
    background-color: $light-green;
    horizontal-align: right;
    vertical-align: bottom;
}

.hr-light {
    background-color: $light-blue;
}

.icon {
    font-family: 'icomoon';
}

.line-through {
    text-decoration: line-through;
}

.mdi {
    font-family: 'Material Icons', 'MaterialIcons-Regular';
}

.modal-container {
    background-color: white;
    width: 100%;
    height: 100%;
}

.text-10 {
    font-size: 10px;
}

.text-16 {
    font-size: 16px;
}