<ActionBar class="action-bar" title="The Health Guide">
  <NavigationButton icon="res://ic_menu_white_24dp" (tap)=toggleDrawer()></NavigationButton>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <StackLayout class="sidedrawer-header">
      <Label text="Navigation Menu"></Label>
    </StackLayout>
    <StackLayout class="sidedrawer-content">
      <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
        <Image class="sidedrawer-list-item-icon" row="0" col="0" src="res://ic_menu_black_24dp"></Image>
        <Label class="sidedrawer-list-item-text" row="0" col="1" text="A Link"></Label>
      </GridLayout>
      <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
        <Image class="sidedrawer-list-item-icon" row="0" col="0" src="res://ic_menu_black_24dp"></Image>
        <Label class="sidedrawer-list-item-text" row="0" col="1" text="A Link"></Label>
      </GridLayout>
      <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
        <Image class="sidedrawer-list-item-icon" row="0" col="0" src="res://ic_menu_black_24dp"></Image>
        <Label class="sidedrawer-list-item-text" row="0" col="1" text="A Link"></Label>
      </GridLayout>
      <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
        <Image class="sidedrawer-list-item-icon" row="0" col="0" src="res://ic_menu_black_24dp"></Image>
        <Label class="sidedrawer-list-item-text" row="0" col="1" text="A Link"></Label>
      </GridLayout>
    </StackLayout>
  </StackLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>