<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title color="light">
			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="currentDate"></ion-datetime>
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="openMjDetails(mealJournal)">
				<ion-icon name="open"></ion-icon>
			</button>
			<button ion-button (click)="editMj(mealJournal)">
				<ion-icon *ngIf="!editing" name="create"></ion-icon>
				<ion-icon *ngIf="editing" name="done-all"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-fab bottom right fixed>
		<button ion-fab color="primary" (click)="searchMeal()">
      <ion-icon name="add"></ion-icon>
    </button>
	</ion-fab>

	<div #mealJournal *ngFor="let mj of mealJournals | async | searchFilter: searchQuery: searchBy">
		<ion-card>
			<ion-card-header>
				Breakfast
			</ion-card-header>
			<ion-card-content>
				<md-data-table>
					<thead>
						<tr>
							<th class="md-text-cell">Meal name</th>
							<th class="md-text-cell">Energy</th>
							<th class="md-text-cell">Protein</th>
							<th class="md-text-cell">Carbs</th>
							<th class="md-text-cell">Fiber</th>
							<th class="md-text-cell">Sugars</th>
							<th class="md-text-cell">Fats</th>
							<th class="md-text-cell">Monounsaturated fat</th>
							<th class="md-text-cell">Polyunsaturated fat</th>
							<th class="md-text-cell">Saturated fat</th>
							<th class="md-text-cell">Trans fat</th>
							<th class="md-text-cell">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let meal of mj.breakfast?.meals">
							<td class="md-text-cell">{{ meal.name }}</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.energy.toFixed(0) : meal.nutrients.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Protein.toFixed(2) : meal.nutrients.macronutrients.Protein.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Carbohydrates.toFixed(2) : meal.nutrients.macronutrients.Carbohydrates.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fiber.toFixed(2) : meal.nutrients.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Sugars.toFixed(2) : meal.nutrients.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fats.toFixed(2) : meal.nutrients.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Monounsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Polyunsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Saturated fat'].toFixed(2) : meal.nutrients.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Trans fat'].toFixed(2) : meal.nutrients.macronutrients['Trans fat'].toFixed(2) }}g
							</td>
							<td *ngIf="!editing" class="md-text-cell">{{ meal.amount }}</td>
							<td *ngIf="editing" class="md-text-cell"><ion-input type="number" [(ngModel)]="meal.amount"></ion-input></td>
						</tr>
						<tr>
							<td class="md-text-cell">Total</td>
							<td class="md-text-cell">{{ mj.breakfast.total.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients.Protein.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients.Carbohydrates.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.breakfast.total.macronutrients['Trans fat'].toFixed(2) }}g</td>
							<td class="md-text-cell"></td>
						</tr>
					</tbody>
				</md-data-table>
			</ion-card-content>

		</ion-card>

		<ion-card>
			<ion-card-header>
				Brunch
			</ion-card-header>
			<ion-card-content>
				<md-data-table>
					<thead>
						<tr>
							<th class="md-text-cell">Meal name</th>
							<th class="md-text-cell">Energy</th>
							<th class="md-text-cell">Protein</th>
							<th class="md-text-cell">Carbs</th>
							<th class="md-text-cell">Fiber</th>
							<th class="md-text-cell">Sugars</th>
							<th class="md-text-cell">Fats</th>
							<th class="md-text-cell">Monounsaturated fat</th>
							<th class="md-text-cell">Polyunsaturated fat</th>
							<th class="md-text-cell">Saturated fat</th>
							<th class="md-text-cell">Trans fat</th>
							<th class="md-text-cell">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let meal of mj.brunch?.meals">
							<td class="md-text-cell">{{ meal.name }}</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.energy.toFixed(0) : meal.nutrients.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Protein.toFixed(2) : meal.nutrients.macronutrients.Protein.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Carbohydrates.toFixed(2) : meal.nutrients.macronutrients.Carbohydrates.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fiber.toFixed(2) : meal.nutrients.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Sugars.toFixed(2) : meal.nutrients.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fats.toFixed(2) : meal.nutrients.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Monounsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Polyunsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Saturated fat'].toFixed(2) : meal.nutrients.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Trans fat'].toFixed(2) : meal.nutrients.macronutrients['Trans fat'].toFixed(2) }}g
							</td>
							<td *ngIf="!editing" class="md-text-cell">{{ meal.amount }}</td>
							<td *ngIf="editing" class="md-text-cell"><ion-input type="number" [(ngModel)]="meal.amount"></ion-input></td>
						</tr>
						<tr>
							<td class="md-text-cell">Total</td>
							<td class="md-text-cell">{{ mj.brunch.total.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients.Protein.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients.Carbohydrates.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.brunch.total.macronutrients['Trans fat'].toFixed(2) }}g</td>
							<td class="md-text-cell"></td>
						</tr>
					</tbody>
				</md-data-table>
			</ion-card-content>

		</ion-card>

		<ion-card>
			<ion-card-header>
				Lunch
			</ion-card-header>
			<ion-card-content>
				<md-data-table>
					<thead>
						<tr>
							<th class="md-text-cell">Meal name</th>
							<th class="md-text-cell">Energy</th>
							<th class="md-text-cell">Protein</th>
							<th class="md-text-cell">Carbs</th>
							<th class="md-text-cell">Fiber</th>
							<th class="md-text-cell">Sugars</th>
							<th class="md-text-cell">Fats</th>
							<th class="md-text-cell">Monounsaturated fat</th>
							<th class="md-text-cell">Polyunsaturated fat</th>
							<th class="md-text-cell">Saturated fat</th>
							<th class="md-text-cell">Trans fat</th>
							<th class="md-text-cell">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let meal of mj.lunch?.meals">
							<td class="md-text-cell">{{ meal.name }}</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.energy.toFixed(0) : meal.nutrients.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Protein.toFixed(2) : meal.nutrients.macronutrients.Protein.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Carbohydrates.toFixed(2) : meal.nutrients.macronutrients.Carbohydrates.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fiber.toFixed(2) : meal.nutrients.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Sugars.toFixed(2) : meal.nutrients.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fats.toFixed(2) : meal.nutrients.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Monounsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Polyunsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Saturated fat'].toFixed(2) : meal.nutrients.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Trans fat'].toFixed(2) : meal.nutrients.macronutrients['Trans fat'].toFixed(2) }}g
							</td>
							<td *ngIf="!editing" class="md-text-cell">{{ meal.amount }}</td>
							<td *ngIf="editing" class="md-text-cell"><ion-input type="number" [(ngModel)]="meal.amount"></ion-input></td>
						</tr>
						<tr>
							<td class="md-text-cell">Total</td>
							<td class="md-text-cell">{{ mj.lunch.total.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients.Protein.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients.Carbohydrates.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.lunch.total.macronutrients['Trans fat'].toFixed(2) }}g</td>
							<td class="md-text-cell"></td>
						</tr>
					</tbody>
				</md-data-table>
			</ion-card-content>

		</ion-card>

		<ion-card>
			<ion-card-header>
				Snack
			</ion-card-header>
			<ion-card-content>
				<md-data-table>
					<thead>
						<tr>
							<th class="md-text-cell">Meal name</th>
							<th class="md-text-cell">Energy</th>
							<th class="md-text-cell">Protein</th>
							<th class="md-text-cell">Carbs</th>
							<th class="md-text-cell">Fiber</th>
							<th class="md-text-cell">Sugars</th>
							<th class="md-text-cell">Fats</th>
							<th class="md-text-cell">Monounsaturated fat</th>
							<th class="md-text-cell">Polyunsaturated fat</th>
							<th class="md-text-cell">Saturated fat</th>
							<th class="md-text-cell">Trans fat</th>
							<th class="md-text-cell">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let meal of mj.snack?.meals">
							<td class="md-text-cell">{{ meal.name }}</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.energy.toFixed(0) : meal.nutrients.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Protein.toFixed(2) : meal.nutrients.macronutrients.Protein.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Carbohydrates.toFixed(2) : meal.nutrients.macronutrients.Carbohydrates.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fiber.toFixed(2) : meal.nutrients.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Sugars.toFixed(2) : meal.nutrients.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fats.toFixed(2) : meal.nutrients.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Monounsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Polyunsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Saturated fat'].toFixed(2) : meal.nutrients.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Trans fat'].toFixed(2) : meal.nutrients.macronutrients['Trans fat'].toFixed(2) }}g
							</td>
							<td *ngIf="!editing" class="md-text-cell">{{ meal.amount }}</td>
							<td *ngIf="editing" class="md-text-cell"><ion-input type="number" [(ngModel)]="meal.amount"></ion-input></td>
						</tr>
						<tr>
							<td class="md-text-cell">Total</td>
							<td class="md-text-cell">{{ mj.snack.total.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients.Protein.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients.Carbohydrates.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.snack.total.macronutrients['Trans fat'].toFixed(2) }}g</td>
							<td class="md-text-cell"></td>
						</tr>
					</tbody>
				</md-data-table>
			</ion-card-content>

		</ion-card>

		<ion-card>
			<ion-card-header>
				Dinner
			</ion-card-header>
			<ion-card-content>
				<md-data-table>
					<thead>
						<tr>
							<th class="md-text-cell">Meal name</th>
							<th class="md-text-cell">Energy</th>
							<th class="md-text-cell">Protein</th>
							<th class="md-text-cell">Carbs</th>
							<th class="md-text-cell">Fiber</th>
							<th class="md-text-cell">Sugars</th>
							<th class="md-text-cell">Fats</th>
							<th class="md-text-cell">Monounsaturated fat</th>
							<th class="md-text-cell">Polyunsaturated fat</th>
							<th class="md-text-cell">Saturated fat</th>
							<th class="md-text-cell">Trans fat</th>
							<th class="md-text-cell">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let meal of mj.dinner?.meals">
							<td class="md-text-cell">{{ meal.name }}</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.energy.toFixed(0) : meal.nutrients.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Protein.toFixed(2) : meal.nutrients.macronutrients.Protein.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Carbohydrates.toFixed(2) : meal.nutrients.macronutrients.Carbohydrates.toFixed(2) }}g
							</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fiber.toFixed(2) : meal.nutrients.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Sugars.toFixed(2) : meal.nutrients.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients.Fats.toFixed(2) : meal.nutrients.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Monounsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Polyunsaturated fat'].toFixed(2) : meal.nutrients.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Saturated fat'].toFixed(2) : meal.nutrients.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ meal.macronutrients ? meal.macronutrients['Trans fat'].toFixed(2) : meal.nutrients.macronutrients['Trans fat'].toFixed(2) }}g
							</td>
							<td *ngIf="!editing" class="md-text-cell">{{ meal.amount }}</td>
							<td *ngIf="editing" class="md-text-cell"><ion-input type="number" [(ngModel)]="meal.amount"></ion-input></td>
						</tr>
						<tr>
							<td class="md-text-cell">Total</td>
							<td class="md-text-cell">{{ mj.dinner.total.energy.toFixed(0) }}kcal</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients.Protein.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients.Carbohydrates.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients.Fiber.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients.Sugars.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients.Fats.toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients['Monounsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients['Polyunsaturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients['Saturated fat'].toFixed(2) }}g</td>
							<td class="md-text-cell">{{ mj.dinner.total.macronutrients['Trans fat'].toFixed(2) }}g</td>
							<td class="md-text-cell"></td>
						</tr>
					</tbody>
				</md-data-table>
			</ion-card-content>

		</ion-card>
	</div>


</ion-content>