<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title color="light">
			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="currentDate"></ion-datetime>
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="openMjDetails(mealJournal)">
				<ion-icon name="open"></ion-icon>
			</button>
			<button ion-button (click)="editMj(mealJournal)">
				<ion-icon *ngIf="!editing" name="create"></ion-icon>
				<ion-icon *ngIf="editing" name="done-all"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-fab bottom right fixed>
		<button ion-fab color="primary" (click)="searchMeal()">
      <ion-icon name="add"></ion-icon>
    </button>
	</ion-fab>
</ion-content>