:host /deep/ {
    .meals {
        md-card-actions button {
            margin: .5em;
            width: 100%;
            .fa {
                position: relative;
                left: -10px;
                font-size: 20px;
            }
        }
        table {
            display: block;
            max-width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}