<td-layout-nav-list #list toolbarTitle="The Health Guide">
    <md-nav-list list-items>
        <a md-list-item [routerLink]="['/nutrition']">
            <md-icon md-list-avatar>book</md-icon>
            <h3 md-line>About</h3>
        </a>
        <a md-list-item [routerLink]="['food']">
            <md-icon md-list-avatar>local_grocery_store</md-icon>
            <h3 md-line>Food list</h3>
        </a>
        <a md-list-item [routerLink]="['nutrients']">
            <md-icon md-list-avatar>local_florist</md-icon>
            <h3 md-line>Nutrients</h3>
        </a>
        <a md-list-item [routerLink]="['recipes']">
            <md-icon md-list-avatar>cake</md-icon>
            <h3 md-line>Recipes</h3>
        </a>
    </md-nav-list>
    <div nav-toolbar-content layout="row" flex>
      <span>{{ pageTitle }}</span>
    </div>
    <router-outlet></router-outlet>
</td-layout-nav-list>