<ActionBar class="action-bar" title="Food">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)="drawerSvc.toggle()"></NavigationButton>
</ActionBar>
<GridLayout rows="*">
    <ActivityIndicator row="1" class="activity-indicator" width="75" height="75" *ngIf="isLoading" [busy]="isLoading"></ActivityIndicator>
    <RadListView class="list-group" [items]="partialFoods" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMoreFoods($event)" pullToRefresh="true" (pullToRefreshInitiated)="refreshFoods($event)" selectionBehavior="Press" (itemSelected)="openDetails($event)">
        <template tkListItemTemplate let-item="item">
            <StackLayout class="list-group-item" borderBottomWidth="1" borderBottomColor="Cyan">
                <Label class="list-group-item-heading" [text]="item.name"></Label>
            </StackLayout>
        </template>
    </RadListView>
</GridLayout>