<ActionBar class="action-bar" title="Food">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)="drawerSvc.toggle()"></NavigationButton>
</ActionBar>
<ActivityIndicator *ngIf="isLoading" [busy]="isLoading"></ActivityIndicator>
<GridLayout rows="*">
    <RadListView [items]="partialFoods" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMoreFoods($event)" pullToRefresh="true" (pullToRefreshInitiated)="refreshFoods($event)">
        <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default">
            <template tkListItemTemplate let-item="item">
                <StackLayout orientation="vertical">
                    <Label class="nameLabel" [text]="item.name"></Label>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
            </template>
        </ListViewLinearLayout>
    </RadListView>
</GridLayout>