<ActionBar class="action-bar" title="Recipes">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)="drawerSvc.toggle()"></NavigationButton>
</ActionBar>

<GridLayout rows="*">
    <RadListView row="1" class="list-group" [items]="filteredRecipes" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMoreFoods($event)"
        pullToRefresh="true" (pullToRefreshInitiated)="refreshFoods($event)" selectionBehavior="Press" (itemSelected)="openDetails($event)">
        <template tkListItemTemplate let-recipe="item">
            <GridLayout rows="* auto" columns="*" class="list-group-item active">
                <Image row="0" col="0" [src]="recipe.image"></Image>
                <StackLayout row="1" col="0" backgroundColor="white" class="list-group-item">
                    <Label class="list-group-item-heading" [text]="recipe.name"></Label>
                    <Label class="list-group-item-text" [text]="recipe.description"></Label>
                </StackLayout>
            </GridLayout>
        </template>
    </RadListView>
</GridLayout>