<ActionBar class="action-bar" title="Recipes">
    <NavigationButton icon="res://ic_menu_white_24dp" (tap)="drawerSvc.toggle()"></NavigationButton>
    <ActionItem (tap)="changeView('grid')">
        <Button text="&#xf009;" class="fa action-item"></Button>
    </ActionItem>
    <ActionItem (tap)="changeView('list')">
        <Button text="&#xf03a;" class="fa action-item"></Button>
    </ActionItem>
    <ActionItem (tap)="toggleSearching()">
        <Button text="&#xf002;" class="fa action-item"></Button>
    </ActionItem>
    <ActionItem (tap)="changeQuery()">
        <Button text="&#xf0b0;" class="fa action-item"></Button>
    </ActionItem>
</ActionBar>
<TabView #tabView (selectedIndexChanged)="tabIdxChange(tabView.selectedIndex)" androidSelectedTabHighlightColor="#00c853" selectedTabTextColor="#00c853" tabTextColor="rgba(255,255,255,.5)" tabBackgroundColor="#151F2F">
    <StackLayout *tabItem="{title: 'My recipes'}">
        <SearchBar *ngIf="!isLoadingPrivate && isSearching" #searchTerm hint="Search recipe" (clear)="clearSearchPrivate()" [text]="searchInputPrivate" (submit)="searchPrivate(searchTerm.text)"></SearchBar>
        <GridLayout rows="*">
            <ActivityIndicator class="activity-indicator" width="75" height="75" [visibility]="isLoadingPrivate ? 'visible' : 'collapse'" [busy]="isLoadingPrivate"></ActivityIndicator>
            <RadListView *ngIf="tabIdx === 0" [items]="filteredPrivate" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMorePrivate($event)" pullToRefresh="true" (pullToRefreshInitiated)="refreshPrivate($event)" selectionBehavior="Press" (itemSelected)="showOptions($event)">
                <ListViewGridLayout *ngIf="gridView" tkListViewLayout scrollDirection="Vertical" itemHeight="250" spanCount="2"></ListViewGridLayout>
                <ListViewLinearLayout *ngIf="listView" tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
                <template tkListItemTemplate let-recipe="item">
                    <GridLayout rows="*, auto">
                        <android>
                            <FrescoDrawee [imageUri]="recipe.image" height="150"></FrescoDrawee>
                        </android>
                        <ios>
                            <Image [imageUri]="recipe.image" stretch="aspectFill" loadMode="async"></Image>
                        </ios>
                        <StackLayout row="1" class="recipe-container">
                            <Label [text]="recipe.name" class="recipe-title"></Label>
                            <Label text="by {{recipe.chef.name}}" class="recipe-author"></Label>
                        </StackLayout>
                    </GridLayout>
                </template>
            </RadListView>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Other recipes'}">
        <SearchBar *ngIf="!isLoadingShared && isSearching" #searchTerm hint="Search recipe" (clear)="clearSearchShared()" [text]="searchInputShared" (submit)="searchShared(searchTerm.text)"></SearchBar>
        <GridLayout rows="*">
            <ActivityIndicator class="activity-indicator" width="75" height="75" [visibility]="isLoadingShared ? 'visible' : 'collapse'" [busy]="isLoadingShared"></ActivityIndicator>
            <RadListView *ngIf="tabIdx === 1" [items]="filteredShared" loadOnDemandMode="Manual" (loadMoreDataRequested)="loadMoreShared($event)" pullToRefresh="true" (pullToRefreshInitiated)="refreshShared($event)" selectionBehavior="Press" (itemSelected)="openDetails($event)">
                <ListViewGridLayout *ngIf="gridView" tkListViewLayout scrollDirection="Vertical" itemHeight="250" spanCount="2"></ListViewGridLayout>
                <ListViewLinearLayout *ngIf="listView" tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
                <template tkListItemTemplate let-recipe="item">
                    <GridLayout rows="*, auto">
                        <android>
                            <FrescoDrawee [imageUri]="recipe.image" height="150"></FrescoDrawee>
                        </android>
                        <ios>
                            <Image [imageUri]="recipe.image" stretch="aspectFill" loadMode="async"></Image>
                        </ios>
                        <StackLayout row="1" class="recipe-container">
                            <Label [text]="recipe.name" class="recipe-title"></Label>
                            <Label text="by {{recipe.chef.name}}" class="recipe-author"></Label>
                        </StackLayout>
                    </GridLayout>
                </template>
            </RadListView>
        </GridLayout>
    </StackLayout>
</TabView>