@import 'app-common';
.fa {
    font-size: 14px;
}

.hr-light {
    margin: 20em 0;
    background-color: $ocean;
}

.card {
    margin: 5em 5em 0 5em;
    border-color: $ocean;
    border-width: 2px;
    border-radius: 3em;
}

.card-header {
    background-color: white;
    margin-bottom: 20em;
}

.card-actions {
    margin: -10em;
}

.action-btn {
    padding: 0;
    margin: 0;
}

.action-btn-open {
    color: $ocean;
}

.action-btn-edit {
    color: $light-green;
}

.action-btn-remove {
    color: $error;
}