@import 'app-common';

.fa {
    font-family: 'FontAwesome';
    font-size: 14px;
}

.hr-light {
    margin: 20em -10em;
}

.list-group {
    padding: 0;
    margin: 0;
}

.list-group-item-actions {
    margin: -10em 0;
    width: 100%;
}

.action-btn {
    padding: 0;
    margin: 0;
}

.action-btn-open {
    color: $blue;
}

.action-btn-edit {
    color: $light-green;
}

.action-btn-remove {
    color: $error;
}