<div layout="column" layout-gt-sm="row" layout-align="center center" flex>
  <div layout="row" flex>
    <md-card>
      <md-card-title>Basic</md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item>
            <h3 md-line>Energy</h3>
            <span flex></span>
            <div class="md-caption tc-grey-500"> {{ food.Energy }} </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>Amino acids</md-card-title>
      <md-card-content></md-card-content>
    </md-card>
  </div>
  <div layout="row" flex>
    <md-card>
      <md-card-title>Vitamins</md-card-title>
      <md-card-content></md-card-content>
    </md-card>
    <md-card>
      <md-card-title>Minerals</md-card-title>
      <md-card-content></md-card-content>
    </md-card>
  </div>
</div>
