<div layout="column" layout-align="center center">
  <md-card class="recipe" layout-padding>
    <md-card-title class="md-display-1">{{ recipe.name }}</md-card-title>
    <md-card-subtitle class="md-subhead">Made by {{ recipe.chef || recipe.chefName }}</md-card-subtitle>
    <img md-card-image class="recipe-img" [src]="'https://firebasestorage.googleapis.com/v0/b/the-health-guide.appspot.com/o/recipes%2Frecipe.jpg?alt=media&token=c14477d5-8024-486e-9113-fb81248b2c70' || recipe.imgUrl">
    <md-card-content>
      <md-list>
          <template let-detail let-last="last" ngFor [ngForOf]="basicDetails">
            <md-list-item>
              <h3 md-line>{{ detail }}</h3>
              <span flex></span>
              <div class="md-caption tc-grey-500"> {{ recipe[detail.toLowerCase()] }} </div>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </md-list>
    </md-card-content>

  </md-card>
</div>