.recipe {
    position: relative;
    .floating {
        position: fixed;
        bottom: 20px;
        right: 50px;
        color: white;
    }

    .tag {
        margin: 10px;
    }
}
:host /deep/ {
    .md-tab-header {
        background-color: white;
        color: #4caf50;
    }
}