@import 'app-common';

.sidedrawer-header {
    text-align: center;
    height: 33%;
    .sidedrawer-header-avatar {
        margin-top: -10em;
        width: 75%;
        height: 75%;
    }
}

.sidedrawer-list-item {
    &.active {
        background-color: rgba($blue, 0.2);
        color: $grey-dark;
        .fa {
            color: $grey-dark;
        }
    }
}