@import 'app-common';

.sidedrawer-header {
    text-align: center;
    height: 33%;
}

.sidedrawer-list-item {
    &.active {
        background-color: $light-blue;
        color: $grey-dark;
        .fa {
            color: $grey-dark;
        }
    }
}