<div layout="column">
    <md-tab-group>
        <md-tab>
            <template md-tab-label>Details</template>
            <div layout="column">
                <div layout="column" layout-gt-lg="row">
                    <md-card flex class="recipe-details">
                        <md-card-title>Cooking time</md-card-title>
                        <md-card-subtitle>Create a new healthy and delicious recipe</md-card-subtitle>
                        <md-divider></md-divider>
                        <md-card-content layout-padding>
                            <div layout="column" layout-gt-xs="row" layout-align="start center" flex>
                                <md-icon>photo</md-icon>
                                <span layout="row" layout-align="start center" class="text-lg tc-grey-500 pad-xs push-left-xs push-right-xs">
                                Image:
                                </span>
                                <td-file-upload md-tooltip="Click twice for image upload" tooltip-position="below" defaultColor="accent" activeColor="primary" cancelColor="warn" (upload)="uploadImage($event)" accept=".jpg,.jpeg,.png" [disabled]="false">
                                </td-file-upload>
                                <span flex></span>
                                <md-slide-toggle [(ngModel)]="recipe.shared">
                                    {{ recipe.shared ? 'Public' : 'Private' }}
                                </md-slide-toggle>
                            </div>
                            <form #recipeForm="ngForm" layout="column">
                                <md-input class="push-xs" #nameInput #nameControl="ngModel" flex placeholder="Name" type="text" maxlength="50" name="recipe.name" [(ngModel)]="recipe.name" required>
                                    <span md-prefix><md-icon>cake</md-icon></span>
                                    <md-hint align="start" [hidden]="nameControl.pristine" class="tc-red-600">
                                        <span [hidden]="!nameControl.errors?.required">Required</span>
                                    </md-hint>
                                    <md-hint align="end">{{ nameInput.characterCount }} / 50</md-hint>
                                </md-input>
                                <md-input class="push-xs" #descriptionInput #descriptionControl="ngModel" flex placeholder="Description" type="text" maxlength="100" name="recipe.description" [(ngModel)]="recipe.description" required>
                                    <span md-prefix><md-icon>description</md-icon></span>
                                    <md-hint align="start" [hidden]="descriptionControl.pristine" class="tc-red-600">
                                        <span [hidden]="!descriptionControl.errors?.required">Required</span>
                                    </md-hint>
                                    <md-hint align="end">{{ descriptionInput.characterCount }} / 100</md-hint>
                                </md-input>
                                <div layout="column" layout-gt-md="row">
                                    <md-input class="push-xs" #durationInput #durationControl="ngModel" flex placeholder="Duration" type="number" min="1" max="3600" name="recipe.duration" [(ngModel)]="recipe.duration" required>
                                        <span md-prefix><md-icon>timelapse</md-icon></span>
                                        <md-hint align="start" [hidden]="durationControl.pristine" class="tc-red-600">
                                            <span [hidden]="!durationControl.errors?.required">Required</span>
                                        </md-hint>
                                    </md-input>
                                    <md-input class="push-xs" (change)="syncNutrition()" #temperatureInput #temperatureControl="ngModel" flex placeholder="Cooking tmperature" type="number" min="0" max="250" name="recipe.cookTemperature" [(ngModel)]="recipe.cookTemperature" required>
                                        <span md-prefix><md-icon>whatshot</md-icon></span>
                                        <md-hint align="start" [hidden]="temperatureControl.pristine" class="tc-red-600">
                                            <span [hidden]="!temperatureControl.errors?.required">Required</span>
                                        </md-hint>
                                    </md-input>
                                </div>
                                <div layout="column" layout-gt-md="row">
                                    <md-input class="push-xs" (change)="syncNutrition()" #servingsInput #servingsControl="ngModel" flex placeholder="Servings" type="number" min="1" max="100" name="recipe.servings" [(ngModel)]="recipe.servings" required>
                                        <span md-prefix><md-icon>local_dining</md-icon></span>
                                        <md-hint align="start" [hidden]="servingsControl.pristine" class="tc-red-600">
                                            <span [hidden]="!servingsControl.errors?.required">Required</span>
                                        </md-hint>
                                    </md-input>
                                    <div class="push-xs" layout="row" layout-align="start center" flex>
                                        <label for="recipe.difficulty" layout="row" layout-align="start center">
                                            <md-icon>layers</md-icon>
                                            <span layout="row" layout-align="start center" class="tc-grey-500 pad-xs push-right-xs">
                                            Difficulty:
                                            </span>
                                        </label>
                                        <select flex [(ngModel)]="recipe.difficulty" name="recipe.difficulty">
                                            <option *ngFor="let difficulty of difficulties" [value]="difficulty">
                                            {{ difficulty }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div layout="column" layout-gt-md="row">
                                    <div class="push-xs" layout="row" layout-align="start center" flex>
                                        <label for="recipe.cookMethod" layout="row" layout-align="start center">
                                        <md-icon>room_service</md-icon>
                                        <span layout="row" layout-align="start center" class="tc-grey-500 pad-xs push-right-xs">
                                        Cooking method:
                                        </span>
                                    </label>
                                        <select flex [(ngModel)]="recipe.cookMethod" name="recipe.cookMethod" (change)="syncNutrition()">
                    <option *ngFor="let method of cookMethods" [value]="method">
                      {{ method }}
                    </option>
                  </select>
                                    </div>
                                    <div class="push-xs" layout="row" layout-align="start center" flex>
                                        <label for="recipe.category" layout="row" layout-align="start center">
                <md-icon>brush</md-icon>
                <span layout="row" layout-align="start center" class="tc-grey-500 pad-xs push-right-xs">
                  Category
                </span>
              </label>
                                        <select flex (change)="syncNutrition()" [(ngModel)]="recipe.category" name="recipe.category">
                <option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </option>
              </select>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div class="pad-left-xs pad-right-xs pad-bottom-xs pad-top-md" layout="row" layout-align="start center">
                                    <i class="fa fa-2x fa-balance-scale" aria-hidden="true"></i> Quantity per serving
                                    <span flex></span>
                                    <span class="md-caption tc-grey-500">{{ recipe.quantity }}g</span>
                                </div>
                            </form>
                        </md-card-content>
                        <md-divider></md-divider>
                        <md-card-actions layout="column" layout-align="center center">
                            <button md-raised-button flex color="accent" [disabled]="!recipeForm.form.valid || recipe.ingredients.length === 0 || recipe.instructions.length === 0" (click)="cookRecipe()">
              Cook it!
            </button>
                        </md-card-actions>
                    </md-card>
                    <div layout="column" flex>
                        <md-card flex>
                            <md-card-title class="md-heading">Tags</md-card-title>
                            <md-divider></md-divider>
                            <md-card-content>
                                <div *ngIf="!recipe.tags || !recipe.tags.length" flex class="text-center">
                                    <div flex layout="row" layout-align="center center" class="md-title">
                                        <i class="fa fa-meh-o push-right-xs" aria-hidden="true"></i> No tags
                                    </div>
                                </div>
                                <button md-raised-button class="tag" color="primary" *ngFor="let tag of recipe.tags">
                <md-icon>local_offer</md-icon>
                {{ tag }}
                </button>
                            </md-card-content>
                        </md-card>
                        <md-card flex>
                            <md-card-title class="md-heading">Good points</md-card-title>
                            <md-divider></md-divider>
                            <md-card-content>
                                <div *ngIf="!recipe.goodPoints || !recipe.goodPoints.length" flex class="text-center">
                                    <div flex layout="row" layout-align="center center" class="md-title">
                                        <i class="fa fa-frown-o push-right-xs" aria-hidden="true"></i> No good points
                                    </div>
                                </div>
                                <button md-raised-button class="tag" color="accent" *ngFor="let point of recipe.goodPoints">
                <md-icon>thumb_up</md-icon>
                {{ point }}
                </button>
                            </md-card-content>
                        </md-card>
                        <md-card flex>
                            <md-card-title class="md-heading">Bad points</md-card-title>
                            <md-divider></md-divider>
                            <md-card-content>
                                <div *ngIf="!recipe.badPoints || !recipe.badPoints.length" flex class="text-center">
                                    <div flex layout="row" layout-align="center center" class="md-title">
                                        <i class="fa fa-smile-o push-right-xs" aria-hidden="true"></i> No bad points
                                    </div>
                                </div>
                                <button md-raised-button class="tag" color="warn" *ngFor="let point of recipe.badPoints">
                <md-icon>thumb_down</md-icon>
                {{ point }}
                </button>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
                <div layout="column" layout-gt-lg="row">
                    <md-card flex *ngIf="recipe.ingredients.length">
                        <md-card-title layout="row" layout-align="start center">
                            Ingredients
                            <span flex></span>
                            <button (click)="clearAllSelections()" md-icon-button>
                <md-icon>clear</md-icon>
              </button>
                        </md-card-title>
                        <md-card-content>
                            <template ngFor let-ingredient let-last="last" [ngForOf]="recipe.ingredients">
                <md-list-item>
                  <div layout="row" layout-align="center center" style="width: 100%;" layout-padding>
                    <button class="push-right-xl" md-icon-button color="accent" [md-menu-trigger-for]="menu">
                                        <md-icon>more_vert</md-icon>
                                        </button>
                    <md-menu x-position="after" #menu="mdMenu">
                        <button (click)="changeQty(ingredient)" md-menu-item>Edit</button>
                        <button (click)="toggleIngredient(ingredient)" md-menu-item>Delete</button>
                    </md-menu>
                    <span flex>{{ ingredient.name }}</span>
                    <span flex class="md-caption tc-grey-500">{{ ingredient.quantity }}</span>
                </div>
                    </md-list-item>
                    <md-divider *ngIf="!last" md-inset></md-divider>
                    </template>
                        </md-card-content>
                    </md-card>
                    <md-card flex>
                        <td-search-box class="push-left push-right" placeholder="Search ingredients" [alwaysVisible]="true" (searchDebounce)="filter($event)"></td-search-box>
                        <md-divider></md-divider>
                        <div *tdLoading="'ingredients.load'" loadingType="circular">
                            <md-card-content>
                                <md-list>
                                    <div class="md-padding" *ngIf="!filteredIngredients || filteredIngredients.length === 0" layout="row" layout-align="center center">
                                        <h3>No ingredients to display.</h3>
                                    </div>
                                    <template ngFor let-ingredient [ngForOf]="filteredIngredients">
          <md-list-item>
            <div layout="row" layout-align="start center" style="width: 100%;">
<md-checkbox #checkbox (click)="toggleIngredient(ingredient, checkbox)" flex>
  {{ ingredient.name }}
</md-checkbox>
<span flex></span>
<span class="md-caption tc-grey-500">{{ ingredient.category }}</span>
</div>
</md-list-item>
<md-divider md-inset></md-divider>
</template>
                                </md-list>
                            </md-card-content>
                            <md-divider></md-divider>
                            <md-card-actions>
                                <td-paging-bar [firstLast]="true" [pageSize]="pageSize" [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)"></td-paging-bar>
                            </md-card-actions>
                        </div>
                    </md-card>
                </div>
            </div>
            <md-card flex>
                <md-card-title flex layout="row" class="md-heading">
                    Instructions
                    <span flex></span>
                    <button md-icon-button color="accent" (click)="addInstruction()">
              <md-icon>add</md-icon>
          </button>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <md-list layout-padding>
                        <md-list-item *ngFor="let instruction of recipe.instructions; let i = index">
                            <div layout="row" layout-align="start center" style="width: 100%;">
                                <md-input flex #instructionInput #instructionControl="ngModel" placeholder="Step {{i + 1}}" type="text" maxlength="100" name="instruction {{i}}" [(ngModel)]="instructions[i]" required>
                                    <span md-prefix><md-icon>playlist_add_check</md-icon></span>
                                    <md-hint align="start" [hidden]="instructionControl.pristine" class="tc-red-600">
                                        <span [hidden]="!instructionControl.errors?.required">Required</span>
                                    </md-hint>
                                    <md-hint align="end">{{ instructionInput.characterCount }} / 100</md-hint>
                                </md-input>
                                <button (click)="removeInstruction(i)" md-icon-button>
                    <md-icon>delete</md-icon>
                  </button>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </md-tab>
        <md-tab>
            <template md-tab-label>Nutrition</template>
            <div layout="column" layout-gt-md="row">
                <div layout="column" flex>
                    <md-card>
                        <md-card-title>Basic nutrition</md-card-title>
                        <md-card-content>
                            <md-list>
                                <md-list-item>
                                    <h3 md-line>Energy</h3>
                                    <span flex></span>
                                    <div class="md-caption tc-grey-500"> {{ recipe.nutrition.Energy.toFixed() }}kcal </div>
                                </md-list-item>
                                <md-divider md-inset></md-divider>
                                <template let-item let-last="last" ngFor [ngForOf]="basicNutrients">
              <md-list-item>
                <h3 md-line>{{ item }}</h3>
                <span flex></span>
                <div class="md-caption tc-grey-500"> {{ recipe.nutrition[item].toFixed(2) }}g </div>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
                            </md-list>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-title>Amino acids</md-card-title>
                        <md-card-content>
                            <md-list>
                                <template let-item let-last="last" ngFor [ngForOf]="aminoacids">
              <md-list-item>
                <h3 md-line>{{ item }}</h3>
                <span flex></span>
                <div class="md-caption tc-grey-500"> {{ recipe.nutrition['amino acids'][item].toFixed(2) }}g </div>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
                <div layout="column" flex>
                    <md-card>
                        <md-card-title>Vitamins</md-card-title>
                        <md-card-content>
                            <md-list>
                                <template let-item let-last="last" ngFor [ngForOf]="vitamins">
              <md-list-item>
                <h3 md-line>{{ item }}</h3>
                <span flex></span>
                <div class="md-caption tc-grey-500"> {{ recipe.nutrition['vitamins'][item].toFixed(2) }}mg </div>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
                            </md-list>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-title>Minerals</md-card-title>
                        <md-card-content>
                            <md-list>
                                <template let-item let-last="last" ngFor [ngForOf]="minerals">
              <md-list-item>
                <h3 md-line>{{ item }}</h3>
                <span flex></span>
                <div class="md-caption tc-grey-500"> {{ recipe.nutrition['minerals'][item].toFixed(2) }}mg </div>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-tab>
    </md-tab-group>


</div>