:host /deep/ {
    .md-tab-header {
        background-color: white;
        color: #4caf50;
    }
    .recipe-details {
        md-card-actions button {
            margin: .5em;
            width: 100%;
            .fa {
                position: relative;
                left: -10px;
                font-size: 20px;
            }
        }
    }
}