@import 'src/theme.scss';

.profile {
    img {
        display: block;
        border-radius: 50%;
        margin: auto;
        border: 4px solid md-color($accent);
        width: 25%;
        height: 25%;
    }  
}